In [2]:
import numpy as np # Linear Algebra and lists
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import nltk #Used for NLP
from nltk.corpus import stopwords #MLP

from sklearn.feature_extraction.text import TfidfVectorizer #list to vector

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix,auc
import pickle

In [3]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Abin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [4]:
dataset = pd.read_csv('datasets/reviews.csv')

In [5]:
dataset

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [6]:
dataset['sentiment'] = dataset['sentiment'].replace(['positive', 'negative'], [1,0])

In [29]:
dataset

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          1
2      I thought this was a wonderful way to spend ti...          1
3      Basically there's a family where a little boy ...          0
4      Petter Mattei's "Love in the Time of Money" is...          1
5      Probably my all-time favorite movie, a story o...          1
...                                                  ...        ...
24995  This movie was a real torture fest to sit thro...          0
24996  John Wayne & Albert Dekker compete for oil rig...          0
24997  Tarantino once remarked on a melodrama from th...          1
24998  Aah yes the workout show was a great. Not only...          1
24999  This film should have never been made. Honestl...          0

[24999 rows x 2 columns]

In [28]:
a=dataset['sentiment'].value_counts()
a

0    12526
1    12473
Name: sentiment, dtype: int64

In [18]:
stopset = set(stopwords.words('english'))

In [19]:
vectorizer = TfidfVectorizer(use_idf = True,lowercase = True, strip_accents='ascii',stop_words=stopset)

In [20]:
from sklearn.feature_extraction.text import TfidfTransformer

In [21]:
transformer = TfidfTransformer()

In [22]:
X = vectorizer.fit_transform(dataset.review)
y = dataset.sentiment
X = transformer.fit_transform(X)

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [38]:
from sklearn import naive_bayes
clf = naive_bayes.MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB()

In [39]:
accuracy_score(y_train,clf.predict(X_train))*100 #training accuracy

94.265

In [40]:
accuracy_score(y_test,clf.predict(X_test))*100 #testing accuracy

85.54